{% extends 'celicaweb/base.html' %}

{% block title %}Mot de passe réinitialisé - CelicaWeb{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Mot de passe réinitialisé</h2>
                <p>Votre mot de passe a été réinitialisé avec succès. <a href="{% url 'celica_web:login' %}">Connectez-vous</a> avec votre nouveau mot de passe.</p>
            </div>
        </div>
    </div>
{% endblock %}